<!DOCTYPE html>
<html>
<head>
    <meta name = "viewpoint" content = "width=device-width, initial-scale =1.0">
    <title>Rate My Cigars</title>

    <!-- creates a reload of an image or a link we are linking
     the css file on this side-->

    <link rel = "stylesheet"type = "text/css" href = "../static/styles/homepage.css">

    <!-- google api will handle this website using the poppins font that is being
    fetched from google-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet">


</head>
<!--end of the head -->
<body>
    <!--the body of the homepage
    In HTML, the container is the area
    enclosed by the beginning and ending tags.
     For example encloses an entire document while
      other tags may enclose a single word, paragraph,
       or other elements.-->
    <div class = "container">
        <h3 class = "first-txt">
            Rate My Cigars
        </h3>
        <h3 class = "second-txt">
            Are you tired of biased third party cigar reviews?<br>
            Are you tired of having to risk your money on bad cigars?<br><br>
                           Well Look no further!!!!<br><br>
            Join Rate My Cigar and begin submitting your reviews today


        </h3>

    <div class = "card">
    <h5>Rate a Cigar</h5>
    </div>

        <div class = "card2">
            <h6>View Cigar Reviews</h6>
        </div>

        <div class = "card3">
            <h7>Review/View<br>Cigar Vendors</h7>

        </div>

        <div class = "card4">
            <h10>Your Account</h10>

        </div>

    </div>








</body>
</html>