<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/submitreview.css') }}">
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            <h2>Cigar Review Submission</h2>
            <p>Submit your cigar review here</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">


            <div class="form">
               <form class = "form" method = "post", action = "/submitreview">

                  <div class="form-group">
                     <label> Cigar Name</label><br><!--<br> serves as a line breaker-->
                        <input type="text" class = "form-control" name="name"><br><br>
                        <label>Cigar Brand</label><br>
                        <input type = "text" class = "form-control" name = "brand"><br>
                        <label>Wrapper</label><br>
                        <input type = "text" class = "form-control" name = "wrapper"><br>
                        <label>Origin</label><br>
                        <input type = "text" class = "form-control" name = "origin"><br>
                      <label>Filler</label><br>
                        <input type = "text" class = "form-control" name = "filler"><br>

                      <label for="body">Body of the Cigar</label>
                        <select name="body" id="body">
                          <option value="Very Mild">Very Mild</option>
                          <option value="Mild">Mild</option>
                          <option value="Medium">Medium</option>
                          <option value="Medium Full">Medium Full</option>
                            <option value="Full">Full</option>
                        </select>

                      <label for="flavor">Flavor</label>
                        <select name="flavor" id="flavor">
                          <option value="Very Mild">Very Mild</option>
                          <option value="Mild">Mild</option>
                          <option value="Medium">Medium</option>
                          <option value="Medium Full">Medium Full</option>
                            <option value="Full">Full</option>
                        </select>

                      <label for="strength">Strength of the Cigar:</label>
                        <select name="strength" id="strength">
                          <option value="Very Mild">Very Mild</option>
                          <option value="Mild">Mild</option>
                          <option value="Medium">Medium</option>
                          <option value="Medium Full">Medium Full</option>
                            <option value="Full">Full</option>
                        </select>

                       <textarea id="description" name="description" rows="4" cols="50">Submit your review here.
                          </textarea>
                          <br><br>

                  <button type="submit" class="btn btn-black">Submit</button>

                  </div>
               </form>
            </div>
         </div>
      </div>